body{
    font-family: 'Poiret One', cursive;
    color: 85144b;
}
#trainJumbotron{
    background-image: url("images/wallpaper-1820723.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;
}
.btn{
    background-color: darkgrey;
}
#addTable{
    width: 80%;
    margin-left: 48%;
    /* margin-right:20%; */
    
}