#addTable{
    width: 80%;
    margin-left: 48%;
    /* margin-right:20%; */
    
}
body{
    font-family: 'Raleway Dots', cursive;
    
}
.btn{
    background-color: darkgrey;
}
h1{
    font-size:80px;
}
h3{
    font-size:60px;
}
#trainJumbotron{

    height: 300px;
}


th{
    background-color: darkgrey;
}
td{
    color: #0074D9;
}