body{
    font-family: 'Poiret One', cursive;
    
}
#trainJumbotron{
    background-image: url("images/Daniel-Mennerich-flickr-1920x1200.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;
}
.btn{
    background-color: darkgrey;
}
#addTable{
    width: 80%;
    margin-left: 48%;
    /* margin-right:20%; */
    
}
th{
    background-color: darkgrey;
}
td{
    color: #0074D9;
}